.accomodation-infos {
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.title-card {
    width: 100%;
}

.title-card h1 {
    font-size: 18px;
    color: #ff6060;
    font-weight: 500;
}

.title-card h2 {
    margin: 5px 0 10px;
    color: #ff6060;
    font-size: 14px;
    font-weight: 500;
}

.host-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}